<main id="login">
  <form name="registerForm" ng-submit="submit()" novalidate>
    <h4>Please register</h4>
    <span class="error" ng-if="errorServer">{{ errorServer }}</span>
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Full name" tabindex="1" autofocus required ng-model="fullName">
      <span class="error" ng-if="registerForm.name.$error.required && submitted">This field is required</span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="email" placeholder="Email" tabindex="2" required ng-model="email" ng-pattern="patternEmail">
      <span class="error" ng-if="registerForm.email.$error.pattern && submitted">Not a valid email</span>
      <span class="error" ng-if="registerForm.email.$error.required && submitted">This field is required</span>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" tabindex="3" required ng-model="password">
      <span class="error" ng-if="registerForm.password.$error.required && submitted">This field is required</span>
    </div>
    <div class="form-group">
      <input type="submit" class="form-control" value="Submit" tabindex="3">
    </div>
    Already a member? 
    <a ng-href="#/login">Please login!</a>
  </form>
</main>
